<div class="nav navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li role="presentation"><a snap-toggle="">Toggle Sidebar</a></li>
        <li role="presentation"><a ng-click="downloadBoard()">Download Board</a></li>
    </ul>
</div>

<snap-drawer>
    <div id="displacedDiv">
    <h3>Image Logs:</h3>
    <ul>
        <li ng-repeat="elem in cachedBoardIds">
            <a ng-click="downloadCachedBoard(elem)">{{elem}}</a>
        </li>
    </ul>
    </div>
</snap-drawer>
<snap-content snap-options="{touchToDrag:false,tapToClose:false}">
    <div id="canvasDiv">
        <canvas id="chalkboard"></canvas>
    </div>
</snap-content>